<div class="message-container">
    <div class="heading">
        <div class="title">
            <a href="/conversations">
                <h1 class="title">我的站内信</h1>
            </a>
        </div>
        <div class="back-link">
            <a class="back" href="/">返回首页</a>
        </div>
    </div>
    <div class="conversations-list">
        <ul class="lists">
          <% @conversations.each do |conversation| %>
            <% @newest_message = conversation.newest_message %>

            <%= link_to conversation_path(conversation) do %>
              <li class="conversation-item">
                <span class="status">
                  <%= display_conversation_status(@newest_message) %>
                </span>
                <span class="sender-name"><%= "#{@newest_message.sender.email}" %></span>
                <span class="content">
                  <span class="subject"><%= "#{@newest_message.subject}" %></span>
                </span>
                <span class="date"><%= "#{@newest_message.created_at.strftime('%Y-%m-%d')}" %></span>
              </li>
            <% end %>

          <% end %>
        </ul>
    </div>
</div>
