

<div class="list-group">
  <div class="list-group-item active">
    <%= @question.title %>
  </div>

  <ul id="answers-list" class="list-group">
  <% @question_answers.each.with_index(1) do |answer, index| %>
    <% if @answered %>
      <li class="list-group-item <%= pretty_answer(@answered, @is_correct, @right_answer_id, @choice_id, answer.id) %>", id: "answer-<%= answer.id %>"><%= answer.title %></li>
    <% else %>
      <li>
      <%= link_to answer.title, create_detail_quiz_question_path(:quiz_id => @quiz, :id => @question.id, :choice_id => "#{answer.id}"),
                  method: :post, remote: true, class: "list-group-item #{ pretty_answer(@answered, @is_correct, @right_answer_id, @choice_id, answer.id) }", id: "answer-#{answer.id}" %>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>


<div class="group post-nav-btn">
  <ul class="pager-custom">
    <li class="previous">
      <% if @previous_question %>
        <%= link_to quiz_question_path(@quiz, @previous_question) do %>
          <i class="fa fa-arrow-left"></i><span> 上一页</span>
        <% end %>
      <% end %>
    </li>
    <li class="next">
      <% if @next_question %>
        <%= link_to quiz_question_path(@quiz, @next_question) do %>
          <i class="fa fa-arrow-right" id="next"></i><span> 下一页</span>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>







<hr>
<div class="row" id="quiz-status-bar">
  <div class="col-xs-3">
    <%= link_to favorite_quiz_question_path(:quiz_id => @quiz, :id => @question.id), method: :post, remote: true do%>
      <%= display_question_favorite(@not_favorite, @is_favorite, @quiz_type) %>
    <% end %>
  </div>
  <%= link_to  quiz_questions_path(@quiz) do%>
  <div class="col-xs-2">
    <i class="fa fa-check-square-o" aria-hidden="true"></i> <span id="quiz_correct_answers_count"><%= @quiz_correct_answers_count %></span>
  </div>
  <div class="col-xs-2">
    <i class="fa fa-window-close-o" aria-hidden="true"></i> <span id="quiz_wrong_answers_count"><%= @quiz_wrong_answers_count %></span>
  </div>
  <div class="col-xs-5">
    <i class="fa fa-th" aria-hidden="true"></i> <span id="quiz_answered_question_count"><%= @quiz_answered_question_count %></span> / <span id="questions_count"><%= @quiz.questions.size %></span>
  </div>
  <% end %>
</div>
