<%= form_for [:admin, @quiz], class: "quiz-form" do |f| %>

  <% if @quiz.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this person from being saved:</h2>

    <ul>
    <% @quiz.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, t("site.admin.quiz.quiz_title") %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id, t("site.admin.quiz.category") %>
    <div class="btn-group" data-toggle="buttons">
      <% Category.all.each do |category| %>
        <label class="btn btn-default <%= (category.id == f.object.category_id)? 'active' : '' %>">
          <%= f.radio_button :category_id, category.id %>
          <%= category.title %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label t("site.admin.quiz.range") %>
    从 : <%= f.number_field :start_number, class: "form-control start-number" %>
    到 : <%= f.number_field :end_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t("site.admin.quiz.count") %>
    <%= f.number_field :given_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :is_random, t("site.admin.quiz.is_random.title") %>
    <div class="btn-group" data-toggle="buttons">
      <% [true, false].each do |flag| %>
        <label class="btn btn-default <%= (flag == f.object.is_random)? 'active' : '' %>">
          <%= f.radio_button :is_random, flag %>
          <%= t(flag, :scope => "site.admin.quiz.is_random") %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%#= f.label "限时完成：" %>
    <%#=  :count, class: "form-control" %>
  </div>

  <div id="quiz-cover">
    <% if @quiz.cover.present? %>
      <%= image_tag(@quiz.cover.thumb.url) %>
    <% else %>
      <%= f.label :cover, t("site.admin.quiz.cover") %>
      <%= f.file_field :cover %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", data: { disable_with: "Submitting..." }, class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_quizzes_path %>
  </div>
<% end %>
