<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增试卷", new_admin_quiz_path, class: "btn btn-primary btn-sm" ) %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>试卷名称</th>
      <th>类别</th>
      <th>题数</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
    <tr>
      <td><%= link_to quiz.title, admin_quiz_path(quiz) %></td>
      <td><%= quiz.category.try(:title) %></td>
      <td><%= quiz.questions.size %></td>
      <td>
        <%= link_to "Edit", edit_admin_quiz_path(quiz), class: "btn btn-primary btn-xs" %>
        <%= link_to "Delete", admin_quiz_path(quiz), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "确定要删除吗？"} %>
        <%= link_to hide_and_publish_admin_quiz_path(quiz), method: :post, remote: true do %>
          <%= display_quiz_hide_icon(quiz) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
