<div class="dashboard-content">
    <div class="account-content">
        <div class="account-tab col-xs-12">
            <ul class="nav nav-tabs">

                <li class="active">
                  <%= link_to edit_user_path do %>
                    <i class="fa fa-user" aria-hidden="true"></i> <%= t("site.account.profile.title") %>
                  <% end %>

                </li>
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-key" aria-hidden="true"></i> <%= t("site.account.password.title") %>
                  <% end %>
                </li>

            </ul>
        </div>

        <div class="account-profile">
          <%= simple_form_for @user, class: "simple_form edit_user" do |g| %>
            <div class="input-block">
              <%= g.simple_fields_for :profile, @profile do |f| %>
                <%= f.input :nickname, label: t("site.account.profile.nickname") %>
                <%= f.input :real_name, label: t("site.account.profile.real_name") %>
                <%= f.input :organization, as: :select, collection: Organization.all { |o| [o.id, o.value] }, include_blank: "请选择公司/单位" %>
                <%= f.input :department, as: :select, collection: Department.all { |d| [d.id, d.value] }, include_blank: "请选择部门/班级" %>
                <%= f.input :wechat, label: t("site.account.profile.wechat") %>
                <%= f.input :qq, label: t("site.account.profile.qq") %>
                <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
              <% end %>

            </div>
            <%= g.button :submit, t("site.account.profile.submit") %>
          <% end %>
        </div>


        </div>
    </div>
