<div class="dashboard-content">
    <div class="account-content">
        <div class="account-tab col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <%= link_to admin_users_path do %>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <%= t("site.admin.users.title") %>
                    <% end %>
                </li>
            </ul>
        </div>

        <div class="account-profile">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th><%= t("site.admin.users.no") %></th>
                <th><%= t("site.admin.users.email") %></th>
                <th><%= t("site.admin.users.nickname") %></th>
                <th><%= t("site.admin.users.real_name") %></th>
                <th><%= t("site.admin.users.organization") %></th>
                <th><%= t("site.admin.users.department") %></th>
                <th><%= t("site.admin.users.operate") %></th>
              </tr>
            </thead>

            <tbody>
              <% @users.each_with_index do |user, index| %>
              <tr>
                <td><%= index %></td>
                <td><%= user.email %></td>
                <td><%= user.profile.nickname %></td>
                <td><%= user.profile.real_name %></td>
                <td><%= user.profile.organization %></td>
                <td><%= user.profile.department %></td>
                <td>
                  <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-primary btn-xs" %>
                  <%= link_to "Delete", admin_user_path(user), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: t("site.delete_confirm") } %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>

          <div class="text-center">
            <%= will_paginate @users, class: "apple_pagination" %>
          </div>
        </div>

    </div>
</div>
