<div class="dashboard-content">
    <div class="account-content">
        <div class="account-tab col-xs-12">
            <ul class="nav nav-tabs">
              <li class="active">
                <%= link_to edit_admin_user_path do %>
                  <i class="fa fa-user" aria-hidden="true"></i> <%= t("site.account.profile.title") %>
                <% end %>
              </li>
              <li>
                <%= link_to password_admin_user_path(@user) do %>
                  <i class="fa fa-key" aria-hidden="true"></i> <%= t("site.account.password.title") %>
                <% end %>
              </li>
            </ul>
        </div>

        <div class="account-profile">
            <%= simple_form_for([:admin, @user], url: password_update_admin_user_path(@user), method: :put) do |f| %>
            <%= f.error_notification %>
            <div class="input-block">
              <%#= f.input :current_password, label: t("devise.registrations.current_password"), hint: t("site.account.password.current_password_hint") %>
              <%= f.input :password, label: t("devise.registrations.password"), autocomplete: "off", hint: t("site.account.password.password_hint") %>
              <%= f.input :password_confirmation, label: t("devise.registrations.password_confirmation") %>
            </div>
            <%= f.button :submit, t("site.account.password.submit") %>
            <% end %>
        </div>

    </div>
</div>
