<div class="dashboard-content">
    <div class="account-content">
        <div class="account-tab col-xs-12">
            <ul class="nav nav-tabs">
              <%= active_link_to edit_user_path, :wrap_tag => :li do %>
                <i class="fa fa-user" aria-hidden="true"></i><%= t("site.account.profile.title") %>
              <% end %>
              <%= active_link_to edit_user_registration_path, :wrap_tag => :li do %>
                <i class="fa fa-key" aria-hidden="true"></i><%= t("site.account.password.title") %>
              <% end %>
            </ul>
        </div>

        <div class="account-profile">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="input-block">
              <%= f.input :current_password, label: t("devise.registrations.current_password"), hint: t("site.account.password.current_password_hint") %>
              <%= f.input :password, label: t("devise.registrations.password"), autocomplete: "off", hint: t("site.account.password.password_hint") %>
              <%= f.input :password_confirmation, label: t("devise.registrations.password_confirmation") %>
            </div>
            <%= f.button :submit, t("site.account.password.submit") %>
            <% end %>
        </div>

    </div>
</div>
